<h1><%= link_to "Luna Burn Art Grants", :controller => "home", :action => "index" %>: Password Reset Email Sent</h1>

Check <%= @user.email %> for a link to set your new password.

<br /><br />
If you don't see the email, please check your spam folder or contact <a href="mailto:grants@lunaburn.org">grants@lunaburn.org</a> for help.
<br />

<%= link_to "Log In", :controller => @type, :action => "index" %>
