<h1><%= link_to "Luna Burn Art Grants", :controller => "home", :action => "index" %>: Password Reset</h1>

<%= @user.name %>, your password has been successfully reset.  Go ahead and <%= link_to "Log In!", root_path %>
