<h1><%= link_to "Luna Burn Art Grants", :controller => "home", :action => "index" %>: Error</h1>

<p>Grant submission creation/modification failed, please try again or contact <%= mail_to 'grants@lunaburn.org' %>.</p>
